---
# present tasks file for agent
- name: agent_present | Assert valid authentication method is provided
  ansible.builtin.assert:
    that:
      - agent_public_key is defined and agent_public_key != ""
      - |
        agent_token == "" or
        (agent_token is defined and agent_token != "" and agent_hub_url is defined and agent_hub_url != "")
    fail_msg: |
      Invalid authentication configuration for the Beszel binary agent.
      Required: agent_public_key must always be provided.
      If agent_token is provided, then agent_hub_url must also be provided.

- name: agent_present | Gather package facts
  ansible.builtin.package_facts:

- name: agent_present | Download and install Beszel binary agent from GitHub
  when: not agent_airgap
  block:
    - name: agent_present | Determine Beszel binary agent architecture
      ansible.builtin.set_fact:
        agent_beszel_architecture: >-
          {% if ansible_architecture == 'x86_64' %}
            amd64
          {% elif ansible_architecture == 'aarch64' %}
            arm64
          {% elif ansible_architecture == 'arm64' %}
            arm64
          {% elif ansible_architecture == 'armv6l' %}
            arm
          {% elif ansible_architecture == 'armv7l' %}
            arm
          {% endif %}

    - name: agent_present | Download Beszel binary agent tarball
      ansible.builtin.get_url:
        url: |
          {% if agent_version == 'latest' %}
            https://github.com/henrygd/beszel/releases/{{ agent_version }}/download/beszel-agent_linux_{{ agent_beszel_architecture | trim }}.tar.gz
          {% else %}
            https://github.com/henrygd/beszel/releases/download/{{ agent_version }}/beszel-agent_linux_{{ agent_beszel_architecture | trim }}.tar.gz
          {% endif %}
        dest: /tmp/beszel-agent.tar.gz
        force: true
        mode: u=rw,g=,o=

    - name: agent_present | Extract Beszel binary agent tarball
      notify: Restart Beszel binary agent systemd service
      ansible.builtin.unarchive:
        src: /tmp/beszel-agent.tar.gz
        dest: "{{ agent_install_dir }}"
        mode: u=rwx,g=rx,o=rx
        remote_src: true

- name: agent_present | Install Beszel binary agent in air-gapped mode
  when: agent_airgap
  block:
    - name: agent_present | Copy Beszel binary agent from Ansible Controller
      notify: Restart Beszel binary agent systemd service
      ansible.builtin.copy:
        src: beszel-agent
        dest: "{{ agent_install_dir }}/beszel-agent"
        mode: u=rwx,g=rx,o=rx

- name: agent_present | Create user for the Beszel binary agent
  ansible.builtin.user:
    name: "{{ agent_user }}"
    uid: "{{ agent_uid | default(omit) }}"
    shell: /sbin/nologin
    system: true
    create_home: false
    groups: "{{ 'docker' if ansible_facts.packages['docker-ce'] is defined else omit }}"
    append: true
    state: present

- name: agent_present | Install Beszel binary agent systemd service
  notify:
    - Reload systemd configuration
    - Restart Beszel binary agent systemd service
  ansible.builtin.template:
    src: beszel-agent.service.j2
    dest: /etc/systemd/system/beszel-agent.service
    mode: u=rw,g=r,o=r

- name: agent_present | Flush handlers
  ansible.builtin.meta: flush_handlers

- name: agent_present | Start the Beszel binary agent systemd service
  ansible.builtin.service:
    name: beszel-agent
    enabled: "{{ agent_service_enabled }}"
    state: "{{ agent_service_state }}"
