[Unit]
Description=Beszel Agent Service
After=network-online.target
Wants=network-online.target

[Service]
User={{ agent_user }}
ExecStart={{ agent_install_dir }}/beszel-agent {{ agent_args | trim }}
Environment="PORT={{ agent_port }}"
Environment="KEY={{ agent_public_key }}"
{% if agent_hub_url %}
Environment="HUB_URL={{ agent_hub_url }}"
{% endif %}
{% if agent_token %}
Environment="TOKEN={{ agent_token }}"
{% endif %}
{% if agent_name %}
Environment="SYSTEM_NAME={{ agent_name }}"
{% endif %}
{% if agent_extra_filesystems %}
Environment="EXTRA_FILESYSTEMS={{ agent_extra_filesystems | join(',') }}"
{% endif %}
Restart=on-failure
RestartSec=5
StateDirectory=beszel-agent
{% if agent_smart_disks | length > 0 %}
AmbientCapabilities=CAP_SYS_RAWIO CAP_SYS_ADMIN
CapabilityBoundingSet=CAP_SYS_RAWIO CAP_SYS_ADMIN
{% for disks in agent_smart_disks %}
DeviceAllow={{ disks }} r
{% endfor %}
{% endif %}
{% if agent_gpu_list | length > 0 %}
{% for gpu in agent_gpu_list %}
DeviceAllow={{ gpu }} r
{% endfor %}
{% endif %}
# Security/sandboxing settings
KeyringMode=private
LockPersonality=yes
NoNewPrivileges=yes
PrivateTmp=yes
ProtectClock=yes
ProtectHome=read-only
ProtectHostname=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectSystem=strict
RemoveIPC=yes
RestrictSUIDSGID=true
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
